<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
{% block for %}
    {% for item in good_list %}
           <div class="card mb-3">
                <div class="card-header">
                    Категория: <a href="#"> {{ item.category}}</a>
                </div>

                <div class="card-body">
                    <img src="..." class="card-img-top" alt="...">
                    <h5 class="card-title">{{ item.goods}}</h5>
                </div>
            </div>

    {% endblock %}

{% endblock %}
</body>
</html>